<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>出力管理 - 社内グループウェア</title>
</head>

<body>

	<div class="container">
		<h2>出力管理</h2>

		<div id="serverMessage" class="msg" th:if="${message}"
			th:text="${message}"></div>
		<div id="serverError" class="err" th:if="${error}" th:text="${error}"></div>

		<form th:action="@{/output_submit}" th:object="${outputForm}"
			method="post" id="outputForm">

			<div class="row">
				<label>出力項目：</label>
				<select id="outputItem" th:field="*{outputItem}">
					<option th:each="type : ${reportTypes}" th:value="${type.code}"
						th:text="${type.label}"></option>
				</select>
			</div>

			<div class="row">
				<label>出力対象年月：</label> <select id="month-year-select"
					name="targetYearMonth"
					onchange="setCookie('selected_month_year', this.value, 31)"></select>
			</div>

			<div class="buttons">
				<button type="submit" name="action" value="home" formnovalidate>HOME</button>
				<button type="submit" name="action" value="check" id="btnCheck">勤怠確認</button>
				<button type="submit" name="action" value="output" id="btnOutput">出力</button>
			</div>

			<input type="hidden" id="isCheckOk" th:field="*{checkOk}" />
		</form>
	</div>
	
	<script th:src="@{/JavaScript/attendance/attendanceDateList.js}"></script>
</body>
</html>