<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>社内グループウェア</title>
	
    <!--CSS-->
	<link rel="stylesheet" 
	          th:href="@{/css/employee/account_password.css}">
</head>
<body>
	<h2>パスワード変更</h2>
		
	<br>
	 
	<form method="post" th:action="@{/account_password}" th:object="${passwordForm}" name="password" >
		
		<!--現在のパスワード-->
	    <label for="currentPass">
		   <span style="color: red;">*</span>現在のパスワード
		 </label>
		 
		 <div class="password-container">
			<!-- 入力欄 -->
			<input type="password" id="currentPass" th:field="*{currentPassword}" 
				class="password-input" size="30" maxlength="100" 
				required placeholder="現在のパスワード" /> 
				
			<!-- 目のアイコン -->
			<span class="toggle-eye" onclick="togglePassword('currentPass', this)">👁️</span>
		 </div>
		 &ensp;&ensp;※パスワードは半角英数字と記号（._-!@）のみで入力してください。<br>			 
		 
		 <!-- エラーメッセージ表示部分 -->
		 <div th:errors="*{currentPassword}" style="color: red;"></div> 
		 <p th:if="${message}" th:text="${message}" style="color: red;"></p>
		
		 <br>
		 
		 <!--新しいパスワード-->
		 <label for="newPass">
		 	<span style="color: red;">*</span>新しいパスワード
		 </label> 
		 
		 <br>
		 
		 <div class="password-container">
			<!-- 入力欄 -->
			<input type="password" id="newPass" th:field="*{newPassword}" 
				class="password-input" size="30" maxlength="100" 
				required placeholder="新しいパスワード" />
				
			<!-- 目のアイコン -->
			<span class="toggle-eye" onclick="togglePassword('newPass', this)">👁️</span>		
		</div>
		&ensp;&ensp;※パスワードは半角英数字と記号（._-!@）のみで入力してください。<br>
		
		 <!-- エラーメッセージ表示部分 -->
		 <div th:errors="*{newPassword}" style="color: red;"></div> 
		 <p th:if="${message}" th:text="${message}" style="color: red;"></p>
		 
		 <br>
		 
		 <!-- 確認用 -->
		 <label for="confirmPass">
		 	<span style="color: red;">*</span>新しいパスワード（確認）
		 </label> 
		 
		 <br>
		 
		 <div class="password-container">
			<!-- 入力欄 -->
			<input type="password" id="confirmPass" th:field="*{newPasswordConfirm}" 
			class="password-input" size="30" maxlength="100" 
			required placeholder="パスワードを確認"  />

			<!-- 目のアイコン -->
			<span class="toggle-eye" onclick="togglePassword('confirmPass', this)">👁️</span>		
		 </div>
		 
		 <!-- エラーメッセージ表示部分 -->
		 <div th:errors="*{newPasswordConfirm}" style="color: red;"></div>
		 <p th:if="${message}" th:text="${message}" style="color: red;"></p>
		 
		 <br><br>
		 
		 <button type="submit" name="action" value="cancel" formnovalidate>キャンセル</button>&ensp;&ensp;
		 <button type="submit" name="action" value="update" >登録</button>
	 </form>
	 
	 <!-- 外部JSファイルを読み込み -->
	 <script th:src="@{/JavaScript/employee/account_password.js}"></script>
</body>


</html>
