<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>社内グループウェア</title>
</head>
<body>
	<h2>ログイン</h2>
	
	<form th:action="@{/login}" th:object="${loginForm}" method="post">
		<label for="loginid">ログインID：</label>
		<input type="text" th:field="*{loginid}" maxlength="50" required><br>
		<span th:errors="*{loginid}" style="color:red;"></span><br>
		
		<label for="password">パスワード：</label>
		<input type="password" th:field="*{password}" maxlength="100" required><br>
		<span th:errors="*{password}" style="color:red;"></span><br>
		
		<button type="submit">ログイン</button>
	</form>
	
	<p th:if="${error}" th:text="${error}" style="color:red;"></p>
</body>
</html>